<head>
    
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="body">
        <div class="project-header">
            <h3>CCS Project Manager</h3>
        </div>


        <h3>Projects Manager</h3>
        <div id="app">

        </div>
    </div>
    
    <script src="app.js"></script>
</body>